.pageHeader {
  color: var(--color-white);

  background-color: var(--color-brand);
}

.pageHeader__container {
  display: flex;
  align-items: center;
  gap: 5px;
  max-inline-size: var(--container-maxInlineSize);
  margin-inline: auto;
  padding-inline: var(--container-paddingInline);
}

.pageHeader__link {
  color: var(--color-white);
}