.categories__list {

}

.categories__item {
  position: relative;
  padding: 15px 15px;
}

.categories__item:hover {
  background-color: var(--control-hovered-backgroundColor);
}

.categories__popup {
  position: absolute;
  inset-inline-start: 100%;
  inset-block-start: 0;
  padding: var(--card-padding);
  display: none;
  /* display: flex; */
  gap: 20px;

  background-color: var(--color-white);
  box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
}

.categories__item:hover .categories__popup {
  display: flex;
}

.categories__column {
  min-inline-size: 200px;

  font-size: 0.9rem;
}

.categories__heading {
  margin-block-end: 10px;
  padding-block-end: 10px;

  font-size: 1rem;

  border-block-end: 1px solid var(--card-borderColor);
}