.input {
  inline-size: 100%;
  padding: 5.5px;

  font-family: inherit;
  font-size: var(--textField-fontSize, 0.8125rem);

  border: 1px solid var(--textField-borderColor);
  resize: none;
}

.input:invalid {
  border: 1px solid red;
  outline-color: red;
}

.input:disabled {
  background-color: var(--control-disabled-bgColor);
}

.input::placeholder {
  color: var(--textField-placeholder-fontColor);
}

.input--textarea {
  max-inline-size: none;
  min-block-size: 43px;
  field-sizing: content;
}

/* Remove "cross" button for "search" input type */
.input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance:none;
}