.select__root {
  position: relative;
}

.select__trigger {
  position: relative;
}

.select__input {
  display: block;
  inline-size: 100%;
  padding: calc(1em / 2);

  font-size: inherit;

  border: 1px solid var(--input-borderColor);
  appearance: none;
  cursor: default;
}

.select__input--isAutocomplete {
  cursor: text;
}

.select__input:disabled {
  color: var(--input-disabled-fontColor);

  background-color: var(--input-disabled-backgroundColor);
}

.select__input::placeholder {
  color: var(--input-placeholder-fontColor);
}

.select__arrowIcon,
.select__closeButton {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 50%;
  translate: 0 -50%;

  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100%;
  aspect-ratio: 1 / 1;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.select__arrowIcon,
.select__root--disabled .select__closeButton {
  pointer-events: none;
}

.select__arrowIcon svg {
  width: 18px;
  height: 18px
}

.select__root--disabled .select__arrowIcon,
.select__root--disabled .select__closeButton {
  color: var(--input-disabled-fontColor);
}