.selectRoot {
  position: relative;
}

.selectTrigger {
  position: relative;
}

.selectInput {
  display: block;
  inline-size: 100%;
  padding: var(--input-padding);

  font-size: var(--input-fontSize);

  border: 1px solid var(--input-borderColor);
  appearance: none;
  cursor: default;
}

.selectInput--isAutocomplete {
  cursor: text;
}

.selectInput:disabled {
  color: var(--input-disabled-fontColor);

  background-color: var(--input-disabled-backgroundColor);
}

.selectInput::placeholder {
  color: var(--input-placeholder-fontColor);
}

.selectArrowIcon,
.selectCloseButton {
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 50%;
  translate: 0 -50%;

  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 100%;
  aspect-ratio: 1 / 1;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.selectArrowIcon,
.selectRoot--disabled .selectCloseButton {
  pointer-events: none;
}

.selectArrowIcon svg {
  width: 18px;
  height: 18px
}

.selectRoot--disabled .selectArrowIcon,
.selectRoot--disabled .selectCloseButton {
  color: var(--input-disabled-fontColor);
}