.popover[open] {
  z-index: 1;

  display: grid;
  place-items: center;
  inline-size: 100%;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
}

.popover--modal[open] {
  position: fixed;
  inset: 0;

  inline-size: 100vw; /* Mandatory */
  block-size: 100vh; /* Mandatory */
  max-inline-size: 100%; /* Mandatory */
  max-block-size: 100%; /* Mandatory */

  overflow-y: scroll;
  background-color: rgb(0 0 0 / 0.6);
}

.popover__content {
  display: block;
  inline-size: 100%;

  background: #fff;
  pointer-events: all;
}