.inputAddon {
  display: inline-flex;
  align-items: center;
  padding-inline: 5px;

  font-size: var(--textfield-fontSize);
  color: var(--control-disabled-fontColor);

  background: var(--control-disabled-bgColor);
  border: 1px solid var(--textField-borderColor);
  cursor: default;
}
