.inputAddon {
  display: inline-flex;
  align-items: center;
  padding-inline: 5px;

  font-size: var(--input-fontSize);
  color: var(--input-disabled-fontColor);

  background: var(--input-disabled-backgroundColor);
  border: 1px solid var(--input-borderColor);
  cursor: default;
}
