.breadcrumbs {
  --gap: 1.5em;
}

.breadcrumbs__list {
  display: flex;
  padding-inline-start: 0;
  gap: var(--gap);

  list-style: none;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: ">";
  display: inline-block;
  translate: calc(var(--gap) / 2 * -1);
}

.breadcrumbs__link,
.breadcrumbs__span {
  color: var(--fontColor);
  text-decoration: none;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}