.objectView {
  display: grid;
  grid-template-columns: 565px 300px; /* Fixed first column size because of Swiper library */
  gap: 10px;
}

.objectView__header {
  grid-column: 1 / -1;
}

.objectView__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.object__aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
}