/* .selectCityModal {
  padding: 0;
}

.selectCityModal__content {
  inline-size: 100%;
  min-block-size: 100%;
  padding: 15px;
}

.selectCityModal__header {
  display: flex;
  gap: 10px;
}

.selectCityModal__close {
  min-inline-size: 40px;
  min-block-size: 40px;
}

.selectCityModal__select {
  flex: 1;

}
 */
