.menu {
  max-block-size: 250px;

  background-color: var(--color-white);
  border: 1px solid var(--input-borderColor);
  box-shadow: var(--boxShadow--thin);
  overflow: auto;
}

.menu__item {
  display: block;
  inline-size: 100%;
  padding: 5px;

  text-align: start;

  background: none;
  border: none;
  cursor: pointer;
}

.menu__item:is(:hover, :focus) {
  background-color: var(--control-hovered-backgroundColor);
}