.menu:not(:empty) {
  position: absolute;
  inset-block-start: 100%;
  z-index: 2;

  min-inline-size: max(100%, 150px);
  max-block-size: 250px;
  padding-inline-start: 0;

  font-size: var(--input-fontSize, 0.8125rem);

  background-color: var(--color-white);
  border: 1px solid var(--input-borderColor);
  box-shadow: var(--boxShadow);
  list-style: none;
  overflow: auto;
}

.menu__link {
  display: block;
  min-inline-size: 100%;
  min-block-size: 25px;
  padding: 5px;

  text-align: start;

  border: none;
  background: none;
  cursor: pointer;
}

.menu__item--focus .menu__link {
  /* [V] */background-color: var(--control-hovered-backgroundColor);
}

@media (width < 905px) {
  .menu__link {
    padding: var(--card-padding);

    font-size: 1rem;
  }
}