.results {
  background-color: #eeeeee;
}

.results__breadcrumbs {
  font-size: 0.85em;
}

.results__heading {
  display: inline-block;
  margin-block-start: 5px;

  font-size: 1.2em;
  font-weight: 700;
}

.results__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-block-start: 10px;
}

.results__item {
  background-color: var(--color-white);
  border: 1px solid var(--card-borderColor);
}

.results__photo {
  display: block;
  inline-size: 100%;
  aspect-ratio: 2/1;
  max-block-size: 250px;

  object-fit: cover;
}

.results__title {
  display: inline-block;

  font-size: 1.125em;
  font-weight: 600;
  color: #0088CF;
}

.results__parent {
  display: inline-block;
  margin-block-start: 5px;

  font-size: 0.95em;
  color: #646464;
  font-weight: bold;
}

.results__address {
  margin-block-start: 5px;

  font-size: 0.95em;
}

@media (width < 905px) {
  .results__item {
    box-shadow: var(--boxShadow--thin);
  }

  .results__info {
    padding: 10px;
  }
}

@media (width >= 905px) {
  .results__list {
    gap: 10px;
  }

  .results__item {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1.5fr;
    padding: 15px;
  }

  .results__photo {
    aspect-ratio: 2/1.5;
  }
}