.results__link {
  display: inline-block;

  /* font-size: 1.125em; */
  color: #0088CF;
}

.results__linkParent {
  display: inline-block;
  margin-block-start: 5px;

  font-size: 0.95em;
  color: #646464;
  font-weight: bold;
}

.results__address {
  margin-block-start: 5px;

  font-size: 0.95em;
}