@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.css";

/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd,
input {
  margin: unset;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}


/* INITIAL STYLES */
body {
  min-inline-size: 320px;
  margin: 0;

  font-family: sans-serif;
  line-height: 1.15;
  font-weight: 400;
  color: var(--fontColor);

  overflow-y: scroll;
  background-color: #EEEEEE;
}


/* GLOBAL CLASSES */
.container {
  max-inline-size: var(--container-maxInlineSize);
  margin-inline: auto;

  @media (width > 905px) {
    padding-inline: var(--container-paddingInline);
  }
}

/* .page {
  @media (width > 905px) {
    margin-block-start: 15px;
  }
} */


/* .srOnly:not(:focus):not(:active):not(:focus-within) { */
.srOnly {
  position: absolute;

  width: 0;
  height: 0;

  white-space: nowrap;

  clip-path: inset(50%);
  overflow: hidden;
}

.icon.disabled {
  fill: var(--control-disabled-fontColor);
}

.mt10 {
  margin-block-start: 10px;
}

.mt15 {
  margin-block-start: 15px;
}

a {
  color: var(--fontColor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}