/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

/* VARIABLES */
:root {
  --color-brand-lightest: #FAFBFC;
  --color-brand-lighter: #E7EDF2;
  --color-brand: #507299;
  --color-red: #FF0000;
  --color-white: #FFFFFF;

  --fontColor: #000000;
  --fontColor-light: #464646;
  --fontColor-lighter: #808080;

  --card-borderColor: #E4E4E4;
  --card-padding: 15px;

  --textField-borderColor: #B8C1C9;
  --textfield-fontSize: 0.8125rem;
  --textField-placeholder-fontColor: #BBBBBB;

  --control-disabled-backgroundColor: #F8F8F8;
  --control-disabled-fontColor: #cccccc;
  --control-hovered-backgroundColor: #F5F6F8;

  --controls-gap: 20px;
  --sections-gap: 10px;
}


/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd,
input {
  margin: unset;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}


/* INITIAL STYLES */
body {
  min-inline-size: 320px;
  margin: 0;

  font-family: sans-serif;
  line-height: 1.15;
  font-weight: 400;
  color: var(--fontColor);

  overflow-y: scroll;
  background-color: #EEEEEE;
}


/* GLOBAL CLASSES */
.container {
  max-inline-size: 905px;
  margin-inline: auto;
  padding-inline: 15px;
}

.page {
  margin-block-start: 10px;
}

.srOnly:not(:focus):not(:active):not(:focus-within) {
  position: absolute;

  width: 0;
  height: 0;

  white-space: nowrap;

  clip-path: inset(50%);
  overflow: hidden;
}

.icon.disabled {
  fill: var(--control-disabled-fontColor);
}

.mt10 {
  margin-block-start: 10px;
}

.mt15 {
  margin-block-start: 15px;
}