@import "./variables.css";

*, *::before, *::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd,
input {
  margin: unset;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}


body {
  min-inline-size: 320px;
  min-block-size: 400vh;
  margin: 0;

  font-family: sans-serif;
  font-size: 1rem;
  color: var(--fontColor);

  background-color: var(--body-background);
  overflow-y: scroll;
}


/* GLOBAL CLASSES */
.container {
  max-inline-size: var(--container-maxInlineSize);
  margin-inline: auto;
  padding-block-start: var(--container-paddingBlockStart);

  @media (width > 905px) {
    padding-inline: var(--container-paddingInline);
  }
}

/* .srOnly:not(:focus):not(:active):not(:focus-within) { */
.srOnly {
  position: absolute;

  width: 0;
  height: 0;

  white-space: nowrap;

  clip-path: inset(50%);
  overflow: hidden;
}

a {
  color: var(--fontColor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}